@media only screen and (max-width:400px){
  .body{
    padding: 25px!important;
    margin: 0px!important;
    margin-top: 10px!important;
    width: 80%!important;
    height: 100%!important;
    gap: 8px!important;
  }
  .header,.chance{
    width: 82vw!important;
    font-size:8vw!important;
    
  }
  .chance{
    height: 16px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  .button{
    width: 26vw!important;
    height: 26vw!important;
  }
  .button{
    font-size: 20vw!important;
  }
  .finish{
    width: 80vw!important;
    font-size: 1rem!important;
  }
  .matrix{
    gap: 10px!important;
  }
}


.body{
    margin: 0;
  padding:25px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 10px;
}

.header{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: rgb(188, 222, 252);
    padding: 12px;
    width: 420px;
    height: 20px;
    text-align: center;
    border: 1px solid rgb(2, 5, 8);
    justify-self: center;
}
.button{
  width: 135px;
  height: 135px;
  max-height: 160px;
  display: block;
  font-size: 5rem;
  background-color: rgb(228, 241, 252);
  border: 1px solid black;
  border-radius: 2px;

  /* background-color: red;
  
  margin: 12px; */
}

.matrix {
  display: flex;
  gap: 13px;
  background-color: rgb(106, 107, 107);
  border: 7px solid rgb(106, 107, 107);
}

.display{
  display: none!important;
}

.finish{
  position: absolute;
  width:420px;
  height: 100px;
  background-color: rgb(2, 151, 2);
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 40px;
  padding: 20px;
  border: 2px solid black;
  color: white;
}

.restart{
  font-size: 1rem;
  height: 30px;
  width: 150px;
  border-radius:3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(1, 90, 1);
  color: aliceblue;
  border: 0;
}
.restart:hover{
  border: 1px solid black;
  box-shadow: 1px 1px 3px rgba(0,0,0,.9);
}

.chance{
    font-size: 25px;
    background-color: rgb(188, 222, 252);
    padding: 15px;
    width: 410px;
    height: 25px;
    text-align: center;
}

.green:hover{
  background-color: green;
  box-shadow: 2px 2px 4px rgba(0,0,0,.8);
  
}

.red:hover{
  background-color: red;
  box-shadow: 2px 2px 4px rgba(0,0,0,.8);
}

.row1{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
